body {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.6;
}

ul > li {
  text-decoration: none;
}

.clock-container,
.button-create-alarm,
.button-delete-alarm  {
  font-size: 2rem;
  text-align: center;
}

.date-title,
.time-title,
.button-create-alarm,
.button-delete-alarm {
  background: lightslategrey;
  color: white;
  border-radius: 15px;
}

.button-create-alarm,
.button-delete-alarm {
  margin: 20px;
}

.button-create-alarm:hover {
  background: rgb(0, 128, 0);
}

.button-delete-alarm:hover {
  background: rgb(255, 0, 0);
}

@keyframes alarmBlink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.alarm-triggered {
  animation: alarmBlink 1s infinite;
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-align: center;
  margin-top: 20px;
}
